body {
    background-color :hsl(210, 70%, 9%) ;
    color:  rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    padding: 8px;
    margin: 25px;

    
    
}


   p {
    padding: 6%;
    margin: 2%;
}

        html  {

        
            scroll-snap-type: y proximity;
          
        }
        
      

        #grid-item-links {
            scroll-snap-align: center;
        }
       
        
   
    a { color: #fff;
        text-decoration: none;
    }
    
    .nav-menu.show {
        display: flex;
    }     
            
        


    #cookie-popup {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 15px;
        border-radius: 10px;
        max-width: 400px;
        text-align: center;
      }
      
      .cookie-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      #accept-cookies {
        background-color: #df2235;;
        width: 44%;
        margin-bottom: 1%;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
      }

      #reject-cookies {
        background-color: rgb(56, 147, 175);
        width: 44%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
      }

      #tracking-monster {
    width: 150px;
      }
      
      #accept-cookies:hover {
        background-color: #ff0019;
        color: #000000; color: #000000;
        transform: scale(1.2);
        transition-duration: 1s;
        font-weight: bold;
      }

      #reject-cookies:hover {
        background-color: rgb(0, 255, 200);
        color: #000000;
        transform: scale(1.2);
        transition-duration: 1s;
      }

    #caption {
        font-size: 0.6em;
    }
    

/* 
Apply scroll snapping to  trailers  */

#grid-item-trailer-frances,
#grid-item-trailer-coffee,
#grid-item-trailer-menu,
#grid-item-trailer-worst,
#grid-item-trailer-Tar {

    scroll-snap-align: center;
} 

.stats {
    font-size: 0.8em;
    color: rgba(127, 255, 212, 0.53);
    padding: 8px;
    margin: 25px;
    
}

#landing {

    color: rgb(0, 255, 200);
}

.green {
    color: rgb(0, 255, 200);
}

#Hello {color:rgb(56, 147, 175) ;}

#m1 {
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    padding: 8px;
    margin: 25px;
  
}

/* progress bar */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px; 
    width: 0;
    background-color: rgb(0, 255, 200);
    width: 50%; 
   
    animation: glow 3s infinite; /* animation keyframes cycling duration */
  
    z-index: 1000; /* Making sure it is on top of other elements */
}


/* Keyframes for glowing effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 2px rgba(0, 255, 200, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 200, 0.8);
  }
  100% {
    box-shadow: 0 0 12px rgba(0, 255, 200, 1);
  }
}



/* Apply smooth in and out effect*/
.movie-container,
.movie-info,
.movie-info-rating,
.movie-info-example,
.animate-on-mouseover,
.animate-on-mouseover-trailer {
    transition: all 0.3s ease-out;
}

.Container {
    background-color: hsl(210, 70%, 9%) ;
    width: 100%;
    opacity: 100%;
    max-width: 1170px;
    margin: auto
    
}

.full-width {
    width: 100%;
}

nav ul {
    padding:0%;
    margin:0%;
    list-style:none

}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 255, 200);
    padding: 10px;
    color:rgb(0, 0, 0) 
}

nav a:hover {
    background-color: rgb(0, 183, 255);
}


    
#noJS {
   
    align-self: center;
    color: rgba(26, 132, 173, 0.747);
    padding: 8px;
    margin: 25px;
   
 }

 #small {
    position: absolute;
 right: 37%;
 top: 92%;
    font-size: 0.7em;
    opacity: 0.3;
 }

 .arrow-rotate {
 position: absolute;
    transform: rotate(-90deg);
    right: 50%;
    
    width: 8%;
    height: 20%;
    bottom: -30%;
    opacity: 1;
 }

 


#arrow-image {
    width: 20%;
    height: 10%;
    right: 1%;
    position: relative;
     transform: rotate(267deg);
    
}

#cinema-image {
    width: 14%;
    height: 14%;
}

.stats-image-hd {
    width: 40%;
    height: 7%;
  
    left: 23%
}


 
  
  .fill p {
    margin: 0;
    color: #fff; 
    font-weight: bold;
    text-align: center;
    width: 100%; /* Made the text fill the entire width */
  }
  
.rating-bar {
    position:relative;
    left: 30px;
    align-items: center;
    justify-content: center;
    width: 90%; /* Set the width of the rating bar */
    height: 36px; /* Set the height of the rating bar */
    background-color: #eeeeee7b; /* Set the background color of the rating bar */
  }
  
  .fill {
    height: 100%;
    background-color:rgb(0, 255, 200); 
    transition: width 0.5s ease; 
       display: flex;
    align-items: center;
  }

  /* .stats-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  } */

/* setting up main grid properties */

#landing-grid {
   display: grid;
    max-width: 1270px;
    
     grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: auto;
       gap: 5%; 
       row-gap: 9%;
       scroll-snap-type: y proximity; /* Enabled scroll snapping */
    
}

/* setting up grid styling for each grid item: */

#grid-item-one {

 
   background-color:  rgba(3, 12, 12, 0.124);
     align-self: center;
     justify-content: center;
     text-align-last: center;
}



#grid-item-example {
  
    width: 100%;
    margin: 5%;
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background: linear-gradient(to top, rgba(3, 12, 12, 0.124), transparent);

}

/* 
#grid-item-trailer-settings {
   
    /* grid-column: 1 / span 8;
 
    grid-row: span 1; 
/* 
    margin-top: -30%;
   ;
    padding-bottom: 3%;
    background: linear-gradient(to top, rgba(3, 12, 12, 0.124), transparent);
     align-self: center;
     justify-content: center;
     text-align-last: center;
     
 } */ 

#grid-item-trailer-frances {
 

    align-self: center;
    justify-content: center;
    text-align-last: center;
    background-color:  rgba(33, 119, 125, 0.041);
}


.grid-item-info {
    display: none;
 
    padding: 40px;
    position: relative;
    align-self: center;
    justify-content: center;
    text-align: center ;
    background-color: rgba(3, 12, 12, 0.124);
}

.grid-item-stats {
width: 80%;
    text-align: center;  
     justify-content: center;
    background-color: rgba(3, 12, 12, 0.124);
}

#grid-item-stats-landing {
   
  width: min-content;
    background-color: rgba(3, 12, 12, 0.124);

}

#grid-item-stats-frances {

   
  
    margin: auto;
    padding-bottom: 30%;
    background-color:  rgba(3, 12, 12, 0.124);
 
}




#grid-item-stats-coffee {

    margin: auto;
    padding-bottom: 30%;
    background-color:  rgba(3, 12, 12, 0.124);
 
}

#grid-item-stats-menu {
    
  
    margin: auto;
    padding-bottom: 30%;
    background-color:  rgba(3, 12, 12, 0.124);
 
}



  

#grid-item-name-tile-frances {
    padding: 40px;
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background-color: rgba(3, 12, 12, 0.124);
}

#grid-item-trailer-coffee {
    
    
   
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background-color:  rgba(33, 119, 125, 0.041);

    }

    #grid-item-name-tile-coffee {
        padding: 40px;
        align-self: center;
        justify-content: center;
        text-align:center;
         background-color: rgba(3, 12, 12, 0.124);
    
    }

   


    #grid-item-trailer-menu {
       
         align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color:  rgba(33, 119, 125, 0.041);
    }
    
    #grid-item-name-tile-menu {
    
        padding: 40px;
        align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color: rgba(3, 12, 12, 0.124);
    }

    #grid-item-stats-worst {
        
     
       
       
        background-color:  rgba(3, 12, 12, 0.124);
        margin: auto;
        padding-bottom: 30%;
   
     
    }

    #grid-item-trailer-worst {

    
        align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color: rgba(33, 119, 125, 0.041);
    }

    #grid-item-name-tile-worst {
        padding: 40px;
        margin: 30px;
        align-self: center;
        justify-content: center;
        text-align: left;
        background-color: rgba(3, 12, 12, 0.124);
    }

    #grid-item-name-tile-worst-mini {
        display: none;
    }

    #grid-item-stats-tar {

        background-color:  rgba(3, 12, 12, 0.124);
        margin: auto;
        padding-bottom: 30%;
   
    }

    #grid-item-trailer-Tar {
      
        align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color: rgba(33, 119, 125, 0.041);
    }

    #grid-item-name-tile-Tar {
 
        padding: 40px;
        margin: 30px;
        align-self: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(3, 12, 12, 0.124);
    }

    #return-to-top {

    
        background-color: rgba(3, 12, 12, 0.124);
        align-self: center;
        justify-content: center;
        text-align: center;
    }

    #return-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgb(0, 255, 200 );
        opacity: 0.7;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        transition: opacity 0.3s;
    }
    
    #return-to-top:hover {
        opacity: 1;
    }

     
        #grid-item-links {
          grid-column: span 3;
          width: fit-content;
            padding: 40px;
        margin-top: 10%;
        background: linear-gradient(to top, rgba(3, 12, 12, 0.124), transparent);
    }

.iframeContainer {
   
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.movie-container {
    position: relative;
    display: inline-block;
    ;
}


.movie-info {
    position: absolute;
    font-weight: bold;

    top: 80%;
     width: 350px; 
    background: rgba(0, 0, 0, 0.417); 
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.movie-info-rating {
   
    position: absolute;
    top: +106%;
    font-weight: bold;
     width: 92%; 
    background: rgba(0, 0, 0, 0.417); 
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
   
}

.coffee-info {
    width: 400px;
}




.movie-info-example {
    position: absolute;
    top: 60%;
    left: 30% ;
    width: 350px; 
    padding-top: 20%;

    font-weight: bold;
     width: 400px; 
    background: rgba(0, 0, 0, 0.7); 
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
}



.movie-container:hover .movie-info  {
    opacity: 1;
    }

    .movie-info-example:hover {
        opacity: 1;
    }

    .movie-info-rating:hover {
        opacity: 1;
    }
 

    .animate-on-mouseover:hover {
      
        transform: scale(1.2);
        transition-duration: 0.4s;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

    }

    .animate-on-mouseover-trailer:hover {
      
        transform: scale(1.2);
        transition-duration: 0.6s;
      
    }


    .slider-container {
 
        margin-top: 20px;
    }
    
    label {
        font-size: 13px;
        color: #555;
        margin-bottom: 5px;
    }
    
    input[type="range"] {
        width: 39px;
        appearance: none;
        margin: 10px;
        background-color: #0a98a841;
        height: 4px;
        border-radius: 5px;
        outline: none;
    }
    
    .trailer {
        border: none;
    }
    
    #sourceSlider {
       
        height: 15px; 
        margin: 20px auto;
        display: block;
        transform: rotate(270deg); 
    }
    
    label[for="sourceSlider"] {
        display: block;
        margin-bottom: 10px;
    }

    #scrollModeSlider {
  
        height: 15px; 
        margin: 20px auto;
        display: block;
        transform: rotate(270deg); /* Rotated to make it vertical */
        width: 39px;

        right: 10px
    }
    
    #scrollModeText {
        margin-left: 10px;
        vertical-align: middle;
        font-size: 0.8em;
    }





    @media screen and (max-width: 900px) { 

        .movie-info-rating {
            opacity: 1;
        }

     
        
    }


    

    /* Responsive Design */

@media screen and (max-width: 700px) {
    nav li{display:block; }
    nav a {display:block;
    text-align: center;
    margin-bottom: 5px;}
            

        html, body {
            margin: 2%;
            height: 100vh;
            overflow:scroll;
          }
          
          p {
            padding: 6%; /* Adjusted padding for better spacing */
            margin: 0%;
            }
        
        body {
          font-size: 1em; /* Adjusted font size for smaller screens */
         
        }
      
        nav ul {
          text-align: center; /* Center navigation links on small screens */
        }
      
        nav li {
          display: block;
          margin-bottom: 5px;
        }
      
        .Container {
          
          max-width: 768px;
          min-height:max-content;
          width: 100%;
        }
      
        #landing-grid  {
            display: flex;
            flex-direction: column;
            
            height: calc(100vh - 85px);
            margin-bottom: 20px;
            text-align: center;
            align-items: center;
            /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
            
          
         
        }

        #grid-item-example {
            display: none;
        }

 #grid-item-name-tile-worst {   
            display: none; 
    

        }

        #grid-item-name-tile-worst-mini {   
            display: flex; 
     
      
        background-color:  rgba(3, 12, 12, 0.124);
        margin: auto;
        text-align: center;
        align-items: center;

        }

        .movie-container {
            scale: 0.7;
        }
       

        
   
      .grid-item-stats, .movie-info {
        display: none;
        
      }


      #grid-item-stats-landing {
        display:flex;
     flex-wrap: wrap;
flex-direction: column;
        width: 60%;
        height: fit-content;
      }

      .name-tiles {
        width: 100%;
        font-size: larger;
        text-align: center;
        word-wrap:normal;
      }

      #grid-item-name-tile-menu {
        
        padding: 40px;
        align-self: center;
        justify-content: center;
        text-align: center;
    
    }


      .grid-item-info {
        display:flex;
      }

      .stats-image-hd {
       width: fit-content;
       height: fit-content;
       scale: 0.4;
    
      }
      
      .movie-info-rating {
        opacity: 1;
        
    }

        
    

        /* Adjust grid items for smaller screens */
      
     
      
        .movie-info,
        .movie-info-rating {
          width: 90%; /* Makes movie info full width on small screens */
        
        }

        
      
        #return-to-top {
          bottom: 10px; /* Adjusts position for smaller screens */
          right: 10px;
        }
      
       .movie-container {
        min-width:100%;
       }
      
   
      #grid-item-one,
      #grid-item-example,
      #grid-item-trailer-settings,
      #grid-item-links,
      #grid-item-info,
      #grid-item-stats,
      #grid-item-name-tile {
        padding: 20px; /* Added padding for better spacing on small screens */
      }
    


      
      
      /* Adjusted the font size for smaller screens */
      h1,
      h2,
      h3 {
        font-size: 1.5em;
      }
      
      /* Adjusted the width and positioning of the arrow image */
      .arrow-rotate,
      #arrow-image {
        width: 10%;
        height: auto;
        right: 5%;
        bottom: -20%;
      }
      
      #cinema-image {
        width: 18%;
        height: auto;
      }
      
      .stats-image-hd {
        width: 70%;
        left: 5%;
      }
      
      
      #progress-bar {
        display: none; /* Hide the progress bar on small screens */
      }
      
      /* Show the movie info and rating on hover for better mobile experience */
      .movie-container:hover .movie-info,
      .movie-container:hover .movie-info-rating {
        opacity: 1;
      }
    
    }

    
   
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: rgb(0, 255, 200);
    margin: 5px 0;
    transition: 0.4s;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin-right: 0%;

}

.nav-menu li {
    margin: 4px;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
        transition: 0.3s; 
        cursor: pointer;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 10px; 
        left: 0;
        background:  rgba(3, 12, 12, 0.7); 
    }

    .nav-menu.show {
        display: flex;

    }

    .nav-menu a {
        color: #fff; 
        
        padding: 15px;
        text-align: center;
        text-decoration: none;
    }

#Hello {
    color:  rgb(0, 255, 200);
}




.menu-toggle:hover span {
    background: rgb(0, 183, 255); /* Change color on hover */
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: rgb(0, 255, 200);
    margin: 5px 0;
   
}

}