body {
    background-color :hsl(210, 70%, 9%) ;
    color:  rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    padding: 8px;
    margin: 25px;

    
    
}


    p {
        padding: 8px;
        margin: 25px;
        }

        html   {
            scroll-snap-type: y proximity;
        }

        section {
            height: 100vh;
            scroll-snap-align: center;
        }

.stats {
    font-size: 0.8em;
    color: rgba(127, 255, 212, 0.53);
    padding: 8px;
    margin: 25px;
    
}

#landing {

    color: rgb(0, 255, 200);
}

.green {
    color: rgb(0, 255, 200);
}

#Hello {color:rgb(56, 147, 175) ;}

#m1 {
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    padding: 8px;
    margin: 25px;
  
}

/* progress bar */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px; 
    width: 0;
    background-color: rgb(0, 255, 200);
    width: 50%; /* Adjust width based on progress */
   
    animation: glow 3s infinite; /* animation keyframes cycling duration */
  
    z-index: 1000; /* Making sure it is on top of other elements */
}


/* Keyframes for glowing effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 2px rgba(0, 255, 200, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 200, 0.8);
  }
  100% {
    box-shadow: 0 0 12px rgba(0, 255, 200, 1);
  }
}

/* Apply smooth in and out effect to specific elements */
.movie-container,
.movie-info,
.movie-info-rating,
.movie-info-example,
.animate-on-mouseover,
.animate-on-mouseover-trailer {
    transition: all 0.3s ease-out;
}

.Container {
    background-color: hsl(210, 70%, 9%) ;
    width: 100%;
    opacity: 100%;
    max-width: 1170px;
    margin: auto
    
}

.full-width {
    width: 100%;
}

nav ul {
    padding:0%;
    margin:0%;
    list-style:none

}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 255, 200);
    padding: 10px;
    color:rgb(0, 0, 0) 
}

nav a:hover {
    background-color: rgb(0, 183, 255);
}

@media screen and (max-width: 700px) {
    nav li{display:block; }
    nav a {display:block;
    text-align: center;
    margin-bottom: 5px;}
    }

#noJS {
    color: rgba(26, 132, 173, 0.747);
    padding: 8px;
    margin: 25px;
   
 }


 

#arrow-image {
    width: 20%;
    height: 10%;
    right: 1%;
    position: relative;
     transform: rotate(267deg);
    
}

#cinema-image {
    width: 14%;
    height: 14%;
}

.stats-image-hd {
    width: 40%;
    height: 7%;
  
    left: 23%
}


 
  
  .fill p {
    margin: 0;
    color: #fff; /* Set the text color */
    font-weight: bold;
    text-align: center;
    width: 100%; /* Make the text fill the entire width */
  }
  
.rating-bar {
    position:relative;
    left: 30px;
    align-items: center;
    justify-content: center;
    width: 90%; /* Set the width of the rating bar */
    height: 36px; /* Set the height of the rating bar */
    background-color: #eeeeee7b; /* Set the background color of the rating bar */
  }
  
  .fill {
    height: 100%;
    background-color:rgb(0, 255, 200); /* Set the fill color of the rating bar */
    transition: width 0.5s ease; /* Add a transition for a smooth effect */
       display: flex;
    align-items: center;
  }

  /* .stats-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  } */

/* setting up main grid properties */

#landing-grid {
    display: grid;
    max-width: 1270px;
     grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
       gap: 5%; /* added gap between grid items */
       row-gap: 10%;
    
}

/* setting up grid styling for each grid item: */

#grid-item-one {
    grid-column: span 5;
    grid-row: span 1;
  
   background-color:  rgba(3, 12, 12, 0.124);
     align-self: center;
     justify-content: center;
     text-align-last: center;
}



#grid-item-example {
    grid-column: span 4;
  
    
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background: linear-gradient(to top, rgba(3, 12, 12, 0.124), transparent);

}


#grid-item-trailer-settings {
   
    grid-column: 1 / span 8;
 
    grid-row: span 1; /* Change this to span only 1 row */

    margin-top: -30%;
   ;
    padding-bottom: 3%;
    background: linear-gradient(to top, rgba(3, 12, 12, 0.124), transparent);
     align-self: center;
     justify-content: center;
     text-align-last: center;
}

#grid-item-trailer-frances {
 
    grid-column: span 6;
    grid-row: span 1;
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background-color:  rgba(33, 119, 125, 0.041);
}


.grid-item-info {
    display: none;
    grid-column: span 3;
    grid-row: span 1;
    padding: 40px;
    position: relative;
    align-self: center;
    justify-content: center;
    text-align: center ;
    background-color: rgba(33, 119, 125, 0.041);
}

.grid-item-stats {

    text-align: center;  
     justify-content: center;
    background-color: rgba(3, 12, 12, 0.124);
}

#grid-item-stats-landing {
   
    grid-column: span 1;
    grid-row: 1;
    background-color: rgba(3, 12, 12, 0.124);

}

#grid-item-stats-frances {

    grid-column: span 1;
    grid-row-start: 3;
  
    margin: auto;
    padding-bottom: 30%;
    background-color:  rgba(3, 12, 12, 0.124);
 
}




#grid-item-stats-coffee {

    grid-column: span 1;
    grid-row: span 1;
    margin: auto;
    padding-bottom: 30%;
    background-color:  rgba(3, 12, 12, 0.124);
 
}

#grid-item-stats-menu {
    
    grid-column: span 1;
  
    grid-row: span 1;
    margin: auto;
    padding-bottom: 30%;
    background-color:  rgba(3, 12, 12, 0.124);
 
}



  

#grid-item-name-tile-frances {
    grid-column: span 3;
    padding: 40px;
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background-color: rgba(3, 12, 12, 0.124);
}

#grid-item-trailer-coffee {
    
    
    grid-column: span 6;
    grid-row: span 1;
   
    align-self: center;
    justify-content: center;
    text-align-last: center;
    background-color:  rgba(33, 119, 125, 0.041);

    }

    #grid-item-name-tile-coffee {
        grid-column: span 3;
        padding: 40px;
        align-self: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(3, 12, 12, 0.124);
    
    }

   


    #grid-item-trailer-menu {
        grid-column: span 6;
       
         align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color:  rgba(33, 119, 125, 0.041);
    }
    
    #grid-item-name-tile-menu {
        grid-column: span 3;
    
        padding: 40px;
        align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color: rgba(3, 12, 12, 0.124);
    }

    #grid-item-stats-worst {
        
     
        grid-column: span 1;
       
        grid-row: span 1;
        background-color:  rgba(3, 12, 12, 0.124);
        margin: auto;
        padding-bottom: 30%;
   
     
    }

    #grid-item-trailer-worst {
        grid-column: span 6;

    
        align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color: rgba(33, 119, 125, 0.041);
    }

    #grid-item-name-tile-worst {
        grid-column: span 3;
        padding: 40px;
        margin: 30px;
        align-self: center;
        justify-content: center;
        background-color: rgba(3, 12, 12, 0.124);
    }

    #grid-item-stats-tar {

        grid-column: span 1;
        background-color:  rgba(3, 12, 12, 0.124);
        margin: auto;
        padding-bottom: 30%;
   
    }

    #grid-item-trailer-Tar {
        grid-column: span 6;
      
        align-self: center;
        justify-content: center;
        text-align-last: center;
        background-color: rgba(33, 119, 125, 0.041);
    }

    #grid-item-name-tile-Tar {
        grid-column: span 3;
 
        padding: 40px;
        margin: 30px;
        align-self: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(3, 12, 12, 0.124);
    }

     
        #grid-item-links {
            grid-column-start: 2; /* Starting point of the element within the grid */
            grid-column-end: span 6;
            grid-row: span 1;
          
            padding: 40px;
        margin-top: 10%;
        background: linear-gradient(to top, rgba(3, 12, 12, 0.124), transparent);
    }

.iframeContainer {
   
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.movie-container {
    position: relative;
    display: inline-block;
    ;
}


.movie-info {
    position: absolute;
    font-weight: bold;
    top: 80%;
     width: 350px; 
    background: rgba(0, 0, 0, 0.417); /* Semi-transparent background */
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
}

.movie-info-rating {
   
    position: absolute;
    bottom: +106%;
    font-weight: bold;
     width: 92%; 
    background: rgba(0, 0, 0, 0.417); /* Semi-transparent background */
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
   
}

#coffee-info {
    width: 550px;
}


.movie-info-example {
    position: absolute;
    font-weight: bold;
    top: 70%;
    left: 100%; /* Position to the left of the movie title */
    width: 300px; /* Adjust the width as needed */
    background: rgba(0, 0, 0, 0.417); /* Semi-transparent background */
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
}



.movie-container:hover .movie-info  {
    opacity: 1;
    }

    .movie-info-example {
        opacity: 1;
    }

    .movie-info-rating:hover {
        opacity: 1;
    }
 

    .animate-on-mouseover:hover {
      
        transform: scale(1.2);
        transition-duration: 0.4s;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

    }

    .animate-on-mouseover-trailer:hover {
      
        transform: scale(1.2);
        transition-duration: 0.6s;
      
    }


    .slider-container {
 
        margin-top: 20px;
    }
    
    label {
        font-size: 14px;
        color: #555;
        margin-bottom: 5px;
    }
    
    input[type="range"] {
        width: 100px;
        appearance: none;
        margin: 10px 0;
        background-color: #ddd;
        height: 4px;
        border-radius: 5px;
        outline: none;
    }
    
    .trailer {
        border: none;
    }
